<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-money"></span>
        <span class="sidebar-title">{{ 'Vorderingen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumcjib/vorderingen/vordering/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Vorderingen'|translate }}
            </a>
        </li>
    </ul>
</li>